﻿<div class="text-center">
  <h2>TCMB Kuru</h2>
  <input id="datepicker" />
</div>
<div id="grid"></div>

<script>
  $(document).ready(function () {

    let grid;
    let datepicker;

    datepicker = $("#datepicker").kendoDatePicker({
      value: new Date(),
      change: function () {
        grid.data("kendoGrid").dataSource.read({ date: formatDate(this.value()) });
      }
    });

    grid = $("#grid").kendoGrid({
      dataSource: {
        transport: {
          read: {
            url: "/Home/ReadCurrencies",
            data: {
              date: formatDate(datepicker.data("kendoDatePicker").value())
            },
            dataType: "json",
            jsonp: "jsoncallback",
          },
          update: {
            cache: false
          }
        },
        schema: {
          data: function (response) {
            if (response.IsSuccessful !== true) {
              kendo.alert(response.Message);
              return [];
            } else {
              return response.Data;
            }
          }
        }
      },
      columns: [
        { field: "Currency", title: "Para Birimi" },
        { field: "Rate", title: "Oran" }
      ],
      height: 500,
      scrollable: true,
      selectable: true
    });
  });

  function formatDate(d) {
    return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
  }
</script>